/* global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  
}

section {
  padding: 5rem 0;
  
}

/* header */
header {
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.nav-brand {
  width: 15rem;
}

.nav-link {
  display: block;
  transition: all 650ms;
}

.menu-icon {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgba(0,0,0,.5);
  z-index: 1000;
  border-radius: 3px;
  cursor: pointer;
}

.menu-icon .bar,
.menu-icon .bar::before,
.menu-icon .bar::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 4rem;
  background-color: #fafafa;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 650ms;
}

.menu-icon .bar::before {
  top: -2rem;
}

.menu-icon .bar::after {
  top: 1rem;
}

.active .bar {
  background-color: transparent;
}

.active .bar::before {
  transform: rotate(45deg);
}

.active .bar::after {
  transform: rotate(-45deg);
}

.active .bar::after,
.active .bar::before {
  top: 0;
}

.overlay {
  background-color: rgba(0,0,0,.95);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
}

.overlay.menu-open {
  transform: scale(1);
  opacity: 1;
}

.nav-list {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.nav-item {
  margin: 1.5rem 0;
  color: #fafafa;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fafafa;
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: url('images/bh-header.jpg') no-repeat top center;
  background-position: center;
  background-size: cover;
  position: relative;

}

.main-text-center {
  display: flex;
  align-items: center;
  height: 50vh;
}

.main-text {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  transform: translateY(50%);
}

.main-text h3 {
  font-size: 4rem;
  position: relative;
  margin-bottom: 2rem;

}

.main-text h1 {
  font-size: 7rem;
  margin: 1rem 0;
}

.main-text h5 {
  text-transform: lowercase;
  line-height: 1.4;
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
  .overlay {
    background: none;
    opacity: initial;
    position: relative;
    transform: initial;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-item {
    margin: 0 2.5rem;
  }

  .menu-icon {
    display: none;
  }
}


/* skills and experience */
.skills {
  padding: 5rem 0;
  background-color: #f5f7f8;
}

.title-heading {
  text-align: center;
  margin: 2rem 0;
}

.title-heading h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}

.skills-wrapper {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.logo {
  width: 17rem;
  height: 10rem;
  border: 1px solid #eee;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo:hover {
  border: 1px solid transparent;
  box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
}



figure img {
  max-width: 8rem;
}

.experience-wrapper {
  grid-column: 2/4;
}

.timeline {
  position: relative;
  /* max-width: 1240px; */
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  /* left: 10%; */
  /* margin-left: 0px; */
}

.work-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.work-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 0;
}

.right::before {
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* responsive timeline on screen less than 600px */
@media screen and (max-width: 600px) {
  /* move timeline to left */
  .timeline::after {
      left: 31px;
  }

  
  .work-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }

  .work-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent white;
  }

  /* put all circles same spot */
  .right::after {
      left: 15px;
  }

  .right {
      left: 0%;
  }
}